<div class="form_item_block">
    <label>Callback URL:<span class="asterisk">*</span></label>
    <input type="text" ng-model="callback_url" ng-required="true"/>
    <span class="form_error" ng-show="GOINPUTNAME[callback_url].$error.server">{{ GOINPUTNAME[callback_url].$error.server }}</span>
</div>
<div class="form_item_block">
    <table class="artifact">
        <thead>
        <tr>
            <th colspan="3">Headers</th>
        </tr>
        <tr>
            <th><h4 class="src">Name</h4></th>
            <th><h4 class="dest">Value</h4></th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody class="headers" ng-init>
            <tr ng-repeat="header in headers">
                <td class="name_value_cell">
                    <input ng-model="header.name" required="true" ng-required="true" style="margin-right: 6px;" class="form_input artifact_header" name="" size="30" type="text">
                </td>
                <td class="name_value_cell">
                    <input ng-model="header.value" class="form_input artifact_destination" name="" size="30" type="text">
                </td>
                <td class="name_value_cell">
                    <span class="icon_remove delete_parent" ng-click="removeHeader($index)"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <input id="headersMap" type="hidden" ng-model="headersMap" value="{{headersMap}}">
    <a id="add_artifact" ng-click="addHeader()" class="action_icon skip_dirty_stop add_icon" title="" href="#"><span class="icon"></span><span>Add</span></a>
    <span class="form_error" ng-show="GOINPUTNAME[headersMap].$error.server">{{ GOINPUTNAME[headersMap].$error.server }}</span>
</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
        var interval = setInterval(function(){
            try {
                $scope = angular.element(document.getElementById("plugin_settings_angular_plugin_settings")).scope();
                $scope.$apply(function() {
                    $scope.headers = $scope.headersMap ? JSON.parse($scope.headersMap) : [];

                    $scope.addHeader = function() {
                        $scope.headers.push({ name: "", value: ""});
                    };

                    $scope.removeHeader = function(index) {
                        $scope.headers.splice(index, 1);
                    }

                });
                $scope.$watch("headers", function(){
                    $scope.headersMap = angular.copy($scope.headers).toJSON();
                }, true);

                clearInterval(interval);
            }
            catch(e) {
            }
        }, 50);
    });
</script>